/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { font-family: Arial, sans-serif; }

/* TOPBAR */
.topbar {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 5px 60px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

/* HEADER MAIN */
.header-wrap {
    width: 100%;
    padding: 15px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    background: #fff;
}

/* LOGO */
.logo img {
    height: 45px;
}

/* MENU */
.menu {
    display: flex;
    gap: 22px;
}

.menu a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.menu a.highlight {
    color: #c70000;
}

/* SEARCH + ICON SECTION */
.right-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* SEARCH BOX */
.search-box {
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.search-box input {
    border: none;
    outline: none;
    width: 150px;
}

.search-box i {
    color: #444;
    font-size: 14px;
}

/* ICONS */
.icon {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    position: relative;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: #fff;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 11px;
}
