/* CONTAINER */
.product-container {
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    gap: 40px;
}

/* LEFT */
.left-box {
    width: 48%;
}

.main-img-box img {
    width: 100%;
    border-radius: 12px;
    transition: .25s;
}

.main-img-box img:hover {
    transform: scale(1.03);
}

.thumb-row {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.thumb {
    width: 78px;
    height: 78px;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .25s;
}

.thumb.active,
.thumb:hover {
    border-color: #000;
}

/* RIGHT */
.right-box {
    width: 48%;
}

.breadcrumb {
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
}

.pd-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 8px;
}

.pd-price {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18px;
}

/* SIZE */
.pd-block {
    margin-bottom: 18px;
}

.pd-label {
    font-weight: 600;
    margin-bottom: 8px;
}

.size-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.size-btn {
    padding: 8px 14px;
    border: 1.4px solid #aaa;
    background: #fff;
    border-radius: 7px;
    cursor: pointer;
    transition: .25s;
    font-size: 14px;
}

.size-btn:hover {
    border-color: #000;
}

.size-btn.active {
    background: #000;
    color: #fff;
    border-color: #000;
}

/* STOCK */
.stock-line {
    font-size: 15px;
    margin-bottom: 20px;
}
.dot.green {
    width: 10px;
    height: 10px;
    background: #2ecc71;
    display: inline-block;
    border-radius: 50%;
    margin-right: 6px;
}

/* QTY */
.qty-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
}

.qty-btn {
    width: 34px;
    height: 34px;
    background: #f4f4f4;
    border: 1px solid #aaa;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

#qtyInput {
    width: 50px;
    height: 34px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 8px;
}

/* BUTTONS */
.btn-row {
    display: flex;
    gap: 12px;
}

.btn {
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.btn-add {
    background: #fff;
    border: 2px solid #000;
}

.btn-add:hover {
    background: #000;
    color: #fff;
}

.btn-buy {
    background: #28a745;
    color: #fff;
}

.btn-buy:hover {
    background: #1f8a37;
}

/* DESC */
.pd-desc {
    margin-top: 25px;
    line-height: 1.6;
}
